body{
    margin:0 auto;
    width: 100%;
    background:#eee;
    font-family: "microsoft yahei";
    font-size:12px;
    line-height: 24px;
    color:#333;
}
ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,button{
    margin:0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    color:#333;
    text-decoration:none;
}
a:hover{
    color:#f60;
    text-decoration:none;
}
/*****header*******/
#resume{
    width:100%;
    height: 50px;
    background: #ccc;
    position:fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 100;
}
#res1 {
    float: left;
    width: 30%;
    height: 50px;
    background: #ccc;
}
#res1>p{
    float: left;
    margin-left: 50px;
    background: #ccc;
    height: 43px;
    width: 50px;
}
#res1>p>a{
    display: block;
    width: 50px;
    height: 50px;
    background: url(../image/df2.jpg) no-repeat;
    border-radius: 50%;
}
#res1>p:hover a{
    background: url(../image/df1.jpg) no-repeat;
    border-radius: 50%;
}
#res1>ul>li{
    background: #ccc;
    font-size: 14px;
    margin-left: 120px;
    width: 60px;
}
#res1>ul>li:nth-child(2){
    border-bottom: 1px solid #333333;
}
#res2{
    margin-right: 50px;
    float: right;
    width: 40%;
}
#res2>li{
    float: right;
    height: 38px;
    padding-top: 12px;
    width:60px;
    background: #ccc;
    text-align: center;

}
#res2>li>a{
    font-size: 14px;
    background: #ccc;
}
#res2>li>b{
    display:inline-block;
    width: 0;
    height: 10px;
    margin-left: 10px;
    border-right: 1px solid #333;
}
#res2>li:first-child>b{
    border:0;
}

/********简介**********/
#bd>div.curt{
    display: block;
}
#intro {
    width: 980px;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
    left: 259px;
    top: 0;
    display: none;
}
.head{
    margin:0 auto;
    text-align: center;
    padding-top: 180px;
}
.head>img{
    border-radius: 50%;
}
.head1>h1{
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 15px;
}
.head1>p{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
/***个人信息****/
#message{
    width: 980px;
    height: 100vh;
    margin:0 auto;
    position:absolute;
    left:259px;
    top:0;
    text-align: center;
    display: none;

}
.mg1,.skl1,.prt{
    height: 70px;
    width: 200px;
    margin: 0 auto;
    font-size:25px;
    padding-top: 30px;
    margin-top: 160px;
}
.mg1>a{
    display: block;
    width: 80px;
    border-bottom: 2px solid #333;
    margin: 0 auto;
    margin-top: 5px;
    display: none;
}
.mg1:hover a,.skl1:hover a,.prt:hover b{
    display:block;
}
.mg2{
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}
.mg2>li{
    float: left;
    width: 200px;
    height: 180px;
    text-align: center;
}
.mg2>li>img{
    margin-top: 20px;
}
.mg2>li>div>p{
    width: 56px;
    height: 24px;
    text-align: center;
    margin-top: 2px;
    font-size: 14px;
}
.mg2>li>div{
    width: 56px;
    height: 56px;
    margin: 0 auto;
    padding: 14px;
}
.mg2>li:hover div{
    border:2px solid #333;
    border-radius:50%;
    z-index: 100;
    margin-top: 20px;
}
.mg2>li:hover img{
    margin-top: 0;
}
.mg2:after{
    display: block;
    content: "";
    clear: both;
}
.mg3>p{
    font-size: 14px;
    margin: 20px 0;
}
/*职业技能*/
#skill{
     width: 980px;
     height: 100vh;
     margin:0 auto;
     position:absolute;
     left:259px;
     top:0;
    display: none;
 }
.skl1,.prt{
    height: 70px;
    width: 200px;
    margin: 0 auto;
    font-size:25px;
    padding-top: 30px;
    margin-top: 160px;
    text-align: center;
}
.skl1>a,.prt>b{
    display: block;
    width: 100px;
    border-bottom: 2px solid #333;
    margin: 0 auto;
    margin-top: 5px;
    display: none;
}
.lt{
    float: left;
}
.lt>table tr{
    display: block;
    margin: 10px 0;
}
.lt>table tr>td{
    text-align: left;
}
.lt>table tr>td>div{
    width: 0;
    transition:width 2s linear;
}
.lt>table tr>td:first-child{
    width: 75px;
}
.lt>table tr>td:last-child{
    width: 350px;
    border-right: 3px solid #f04;

}
.lt>table tr>td>div{
    height: 25px;
    border-radius: 5px;
    text-align: right;
    color: #fff;
}
.rt{
    float: right;
    width: 50%;
}
.rt>p{
    padding-left: 70px;
    text-align: left;
    color: #333;
}
#skill:after{
    display: block;
    content: "";
    clear: both;
}
/*个人作品*/
#product{
    width: 980px;
    height: 100vh;
    margin:0 auto;
    position:absolute;
    left:259px;
    top:0;
    display: none;
}
/*#product{
    position: relative;
    width: 980px;
    height: 520px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #fff;
    margin:10px auto;
    margin-top:40px;
    z-index: 10;
}*/
.prt{
    height: 70px;
    width: 200px;
    margin: 0 auto;
    font-size:25px;
    padding-top: 30px;
    margin-top: 100px;
    text-align: center;
}
.pro>div>h3,.pro>div>p{
    text-align: center;
    margin-top: 10px;
}
#product .pro {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    border: 1px solid transparent;
}
#product .pro div {
    position: absolute;
    top: 0;
    left:0;
    width: 980px;
    height:440px;
    transition: opacity .5s linear;
    display: none;
}
#product .pro div.current {
    display: block;
}
/*#product .pro div div{
    position: absolute;
    top: 60px;
    left:0 ;
    height: 360px;
}*/
#product .count {
    position: absolute;
    right: 430px;
    bottom: 0;
    background:transparent;
}
#product .count li {
    color: #fff;
    float: left;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-right: 10px;
    overflow: hidden;
    background: #333;
    opacity:1;
    border-radius: 5px;
}
#product .count li.current {
    color: #fff;
    opacity: 1;
    font-weight:bold ;
    background:#0000ff ;
}
/*.pro>div>p>img:hover{
    transform:scale(1.4);
 }*/
.pro>div>h3>a{
    font-size: 17px;
    color: #f60;
}
/*履历*/
#record{
    width: 980px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    position:absolute;
    left:259px;
    top:0;
    display: none;
}
.red{
    height: 70px;
    width: 200px;
    margin: 0 auto;
    font-size:25px;
    padding-top: 30px;
    margin-top: 100px;
    text-align: center;
}
.red>b{
    width: 100px;
    border-bottom: 2px solid #333;
    margin: 0 auto;
    margin-top: 5px;-
    display: none;
}
.red:hover b{
    display:block;
}
.red1>p{
    margin: 10px 0;
}
.red2{
    border: 1px solid #fff;
    margin-top:40px;
    background: #ccc;
    height: 220px;
    padding-top: 30px;
    border-radius: 20px;
}
.red2>div{
    float: left;
    width: 50%;
    text-align: left;
    margin-left: 30px;
    background: #ccc;
}
.red2>div>h1,.red2>div>span{
    background: #ccc;
}
.red2>p{
    float: right;
    margin-right: 30px;
}
/*联系我*/
#phone{
    width: 980px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position:absolute;
    left:259px;
    top:0;
    display: none;
}
.pho{
    height: 70px;
    width: 200px;
    margin: 0 auto;
    font-size:25px;
    padding-top: 30px;
    margin-top: 100px;
    text-align: center;
}
.pho>b{

    width: 100px;
    border-bottom: 2px solid #333;
    margin: 0 auto;
    margin-top: 5px;
    display: none;
}
.pho:hover b{
    display:block;
}
.pho1{
    text-align: center;
    height: 70px;
}
.pho1>p{
    margin: 15px 0;
}
.pho1>a{
    display: none;
}
.pho1:hover a{
    display: block;
    color: #f60;
}
#phone>p{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
#phone>p>a{
    font-size: 25px;
    color: #f00;
}
.pho2{
    width: 165px;
    margin:0 auto;
}
.pho2>a{
    float: left;
    width: 40px;
    line-height: 12px;
    display: inline-block;
    border-right: 1px solid #ccc;
}
.pho2>a:last-child{
    border: 0;
}
/*侧边锚点*/
.anchor{
    height: 60px;
    width: 10px;
    position:fixed;
    top: 40%;
    right: 20px;
}
.anchor>ul>li>a{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background: #ccc;
}
.anchor>ul>li:hover a{
    background: #00f;
}